# === Fichiers de build ===
/build/
.dep/
/out/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst
*.list
*.dmp
*.srec
*.zip

# === Doxygen généré ===
docs/html/
docs/latex/

# === Fichiers IDE ===
.cproject
.project
*.launch
*.user
.vscode/
.idea/

# === OS files ===
.DS_Store
Thumbs.db
